html, body {
    background-color: gray; /* Replace 'yourcolor' with the color you want, e.g., 'red', '#RRGGBB', or 'rgb(R, G, B)' */
    margin: 0; /* Remove default margin for the body */
    padding: 0; /* Remove default padding for the body */
    height: 100%; /* Ensure the background color covers the full viewport height */
  }
img{
    background-size: 100% auto; /* Ensure the image covers the width and maintains aspect ratio */
  width: 100%;
  height: 50vh; /* Cover 50% of the viewport height */
}
#title{
    color: blue;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
}
.container{
    text-align: center;
}
h1 {
    display: inline-block; /* Display the h1 elements inline */
    margin: 0 20px; /* Add some spacing between the headings */
    font-size: 60px;
  }
