.card {
    background-color: gray; 
    width: 500px;
  }
img{
    width:500px;
}
#title{
    color: blue;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
.container{
    text-align: left;
}
a{
    font-size: 16px;
  }
