.red-thin-border-big-font{
    border: 1px solid red;
    font-size: larger;
    border-radius: 10px;
}
.bold-italic{
    font-style: italic;
    font-weight: bold;
}
.shadow{
    /* background-color: black; */
    color:black;
    text-shadow: 10px 10px 5px rgb(0, 0, 0);
    font-family: monospace;
}